# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Temporary files
tempCodeRunnerFile.py

# Environment variables / API keys
.env

# OS files
.DS_Store
Thumbs.db